/* Global Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    background: url('../img/background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
}



.text-nav{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    color: #ffcc00;
    text-shadow: 0px 0px 15px rgba(255, 204, 0, 0.8);
    letter-spacing: 5px;
}

.text-nav-small{
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffcc00;
    text-align: center;
    text-shadow: 0px 0px 15px rgba(255, 204, 0, 0.8);
    /* letter-spacing: 5px; */
}



/* Support Section */
.support-section {
    text-align: center;
    padding: 150px 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container-p {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: justify;
}

.support-section h1, h2 {
    color: #f4b400;
}

.support-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 20px;
}

.option {
    background: #1a1a1a;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    text-align: center;
    margin: 10px;
}

.option i {
    font-size: 40px;
    color: #f4b400;
    margin-bottom: 10px;
}

.option h3 {
    font-size: 18px;
}

.option p {
    font-size: 14px;
    color: #ccc;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #f4b400;
    color: #121212;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}

.btn:hover {
    background: #fff;
    color: #121212;
}

/* Contact Link */
.contact-link {
    display: inline-block;
    margin-top: 10px;
    color: #f4b400;
    text-decoration: none;
    font-size: 18px;
}

.contact-link i {
    margin-right: 5px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 20px;
    background: #121212;
    margin-top: 40px;
}